@{
    ViewBag.Title = "Erro";
}

<div class="container text-center" style="margin-top: 80px;">
    <h1 class="text-danger">Oops! Algo deu errado 😓</h1>
    <p>Encontramos um problema ao processar sua solicitação.</p>
    <p>Se o erro persistir, entre em contato com o suporte.</p>

    <hr />
    <a href="@Url.Action("Index", "Cliente")" class="btn btn-primary">Votar para a página inicial</a>
</div>

